<%= render 'layouts/sidebar' %>

<div id="page-content-wrapper">
  <div class="container-fluid" style="margin-left:20%">
    <form class="form-horizontal">
      <legend>Edit My Deets</legend>
      <fieldset>
      <%= link_to "Back to my profile", deet_path(current_user.id) %>
      <%= render 'form' %>
      </fieldset>
    </form>
  </div>
</div>