<%= render 'layouts/sidebar' %>

<div id="page-content-wrapper">
  <div class="container-fluid" style="margin-left:20%">
      <legend>Edit My Deets</legend>
      <fieldset>
      <%= link_to "Back to my profile", deet_path(current_user.id) %>
      <%= render 'form' %>
      </fieldset>
      <div class="container-fluid" style="margin-left:20%">
      <fieldset>
      <%= render 'images/form' %>
      </fieldset>
      </div>
  </div>
</div>