<!-- HOME PAGE -->

<!-- BACKGROUND -->
<div id="login-background">
  <div class="overlay-bg">
    <div class="col-xs-12 col-sm-12 col-md-12">

      <!-- CONTENT -->
      <div id="logo-box">

        <!-- logo -->
        <img src="assets/logo1.png" id="logo-img">

        <!-- tagline -->
        <h3 id="homepageh4">dating just got less awkward</h3>

        <!--  SIGN UP -->
        <div id="login-button">
          <%= link_to new_preference_path do %>
            <%= button_tag "Begin", :class => "btn btn-homepage" %>
          <% end %>

          <!-- LOG IN -->
          <%= link_to login_path do %>
            <%= button_tag "Login", :class => "btn btn-homepage" %>
          <% end %>
        </div>

      </div>

    </div>
  </div>
</div>
