<!-- HOME PAGE -->

<html class="full" lang="en">


<div class="col-sm-4, col-md-12">
        <div id="logo-box">
          <h1 id="homepage">bolt</h1>
          <p style="color:white; text-align:center">

dating just got less awkward<br><br>

  <button type="submit" class="btn btn-default">Says who?</button> <button type="submit" class="btn btn-default">Check it out</button>



  </p>
</div>


  </div>

  </html>
