<!-- HOME PAGE -->

<div id="login-background">
  <div class="overlay-bg">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <div id="logo-box">
        <h1 id="homepage">JustDecide.</h1>
        <h4 id="homepageh4">Dating just got less awkward</h4>
        <hr>
          <div id="login-button">
            <%= link_to new_preference_path do %>
              <%= button_tag "Begin", :class => "btn btn-homepage" %>
            <% end %>

            <%= link_to login_path do %>
              <%= button_tag "Login", :class => "btn btn-homepage" %>
            <% end %>
          </div>
        </div>

    </div>
  </div>
</div>
