<!-- HOME PAGE -->

<div class="full">
  <div class="col-xs-12 col-sm-12 col-md-12">
    <div id="logo-box">
      <h1 id="homepage">bolt</h1>
        <p>dating just got less awkward</p>
        
        <br>
      
      <div id="login-button">
        <%= link_to new_preference_path do %>
          <%= button_tag "Says Who?", :class => "btn btn-default" %>
        <% end %>

        <%= link_to login_path do %>
          <%= button_tag "Login", :class => "btn btn-default" %>
        <% end %>
      </div>

    </div>
  </div>
</div>
