<!-- HOME PAGE -->

<div id="login-background">
  <div class="overlay-bg">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <div id="logo-box">
        <img src="assets/logo1.png" id="logo-img">
        <h3 id="homepageh4">dating just got less awkward</h3>
        <hr>
          <div id="login-button">
            <%= link_to new_preference_path do %>
              <%= button_tag "Begin", :class => "btn btn-homepage" %>
            <% end %>

            <%= link_to login_path do %>
              <%= button_tag "Login", :class => "btn btn-homepage" %>
            <% end %>
          </div>
        </div>

    </div>
  </div>
</div>
