<div id="page-content-wrapper">
  <div class="container-fluid" style="margin-left:20%">
    <form class="form-horizontal">
      <legend>Add your deets!</legend>
        <fieldset>
          <%= render 'form' %>
        </fieldset>
    </form>
  </div>
</div>
