  <div id='login-background'>
    <div id="page-content-wrapper">
        <div class="container-fluid" id='login-container-fluid'>
          

          <%= form_tag sessions_path, class: 'form-horizontal' do %>
            <fieldset id='login-fieldset'>
              <h1>Log In</h1>

                <div class="form-group, field">
                  
                  <div class="col-lg-4" id='login-column'>
                    <%= text_field_tag :username, params[:username], class: 'form-control', id: 'inputUsername', placeholder: 'Username' %>
                  </div>
                </div>

                <div class="form-group, field">
                  <div class="col-lg-4" id='login-column'>
                    <%= password_field_tag :password, params[:password], class: 'form-control', id: 'inputPassword', placeholder: 'Password'  %>
                  </div>
                </div>
                <div>
                  <%= submit_tag "Log In", class: 'actions, btn btn-warning', id: 'login-button-page' %>
                </div>


            </fieldset>
          <% end %>

        </div>
    </div>
  </div>