<div id="page-content-wrapper">
  <div class="container-fluid" style="margin-left:20%">

      <%= render 'layouts/sidebar' %>
      <% if current_user %>

      <% @user.each do |user| %>
        <div class="col-md-4 portfolio-item">
          <a href="#">
            <img class="profilepic" src="<%=user.img%>">
          </a>
          <h3><%= link_to user.username, user_path(user) %></h3>
          <p>  <%= button_to 'Like', {:controller => "likes", :action => "create", :target_id => user.id} , :method=>:post  %></p>
        </div>
        <% end %>
        <% else %>
        <% redirect_to deets_path %>
        <% end %>
  </div>
</div>

