<div id="page-content-wrapper">
    <div class="container-fluid" style="margin-left:20%">

    <% @user.each do |user| %>
      <div class="col-md-4 portfolio-item">
          <a href="#">
            <img class="profilepic" src="<%=user.img%>">
          </a>
          <h3><%= link_to user.username, user_path(user) %></h3>
      </div>

  <% end %>
</div>
</div>
<!--  paginate @matches -->
