<h1>All of my Dates are listed here</h1>

    <% @date_deets.each do |date| if @date_deets %>

    <h3><%= date.name %></h3>

    <h3>Date Status: <%= get_date_status(date) %></h3>

    <% end %>
  <% end %>