<div id="page-content-wrapper">
  <div class="container-fluid" style="margin-left:25%">
    <%= render 'layouts/sidebar' %>

<h1> Your date is going to be at: </h1>
      <!-- google_search -->



<br><br><br>
  <button> Accept </button> <button> Decline </button>
  </div>
</div>