<!-- NEW DEETS -->

<!-- BACKGROUND -->
<div id="login-background">
  <div class="overlay-bg">
    <div class="col-xs-12 col-sm-12 col-md-12">

      <!-- CONTENT -->
      <div id="logo-box">

      <!-- tagline -->
      <legend id='center-legend'>Let's sign you up!</legend>

        <!-- sign up form -->
        <fieldset>
          <%= form_for @user, html: { id: 'new_user'} do |f| %>
          <%= render f %>
            <div>

            <!-- NEXT -->
            <%= f.submit "Woo-hoo!", class: 'btn btn-warning'%></div>

          <% end %>
        </fieldset>

      </div>
    </div>

  </div>
</div>
