<div id="page-content-wrapper">
  <div class="container-fluid" style="margin-left:20%">

  <legend>Sign Up</legend>
    <fieldset>
      <%= form_for @user, html: { id: 'new_user'} do |f| %>
      <%= render f %>
        <div><%= f.submit "Next!", class: 'btn btn-warning'%></div>
      <% end %>
    </fieldset>

  </div>
</div>
