<%= render 'layouts/sidebar' %>

<div id="page-content-wrapper">
  <div class="container-fluid" style="margin-left:20%">
    <legend>Edit My Preferences</legend>
    <fieldset>
    <%= render 'form' %>
    </fieldset>
  </div>
</div>
