<h1>Preference Index Test</h1>
<p>You are signed in as <%= current_user.id %></p>

<%= link_to "Add your preferences!", new_preference_path %>
<hr>
<% @preference.each do |preference| %>
  <h2><%= preference.gender_pref %></h2>
  <h3><%= preference.lifestyle_pref %></h3>
  <hr>
<% end %>
