<!-- NEW DEETS -->

<!-- BACKGROUND -->
<div id="login-background">
  <div class="overlay-bg">
    <div class="col-xs-12 col-sm-12 col-md-12">

      <!-- CONTENT -->
      <div id="logo-box">

      <!-- tagline -->
      <legend id='center-legend'>Let's find you matches!</legend>

        <!-- first date checkboxes -->
        <fieldset id="">
          <%= form_for @user, :url => create_prefs_path, :method => :post, :html => {:class => 'form-horizontal'} do |f| %>

           First date? I'd be down for: (select one or more)<br>

          <%= collection_check_boxes(:user, :first_dates, @first_date, :id, :types) %>
          <br>
          <br>

          <!-- lifestyle checkboxes -->
          What types of lifestyles would you like to connect to: (select one or more)<br>


          <%= collection_check_boxes(:user, :lifestyles, @lifestyle, :id, :types) %>
          <br>
          <br>

          <!-- SUBMIT -->
          <%= f.submit "Find Matches", class: 'btn btn-warning' %>
        <% end %>
      </fieldset>

      </div>

    </div>
  </div>
</div>
