<%= render 'layouts/sidebar' %>

<div id="page-content-wrapper">
    <div class="container-fluid" style="margin-left:20%">

    <h2>Show preferences</h2>

    <h3>Preferences </h3>
      <% @preference.each do |preference| %>
        <p><%= preference.min_age %></p>
        <% end %>

      </div>
    </div>
